{% extends "default.njk" %}

{% from "masthead/macro.njk" import masthead %}

{% set appClasses = "homepage" %}

{% block main %}
{{ masthead({
  title: title,
  description: description
}) }}
{% call article({
  content: content
}) %}{% block content %}
{% endblock %}{% endcall %}
{% endblock %}

{%- block footer %}{%- endblock %}